@font-face {
  font-family: clarendonBold;
  src: url(fonts/Clarendon-Bold.woff);
}
@font-face {
  font-family: clarendonlight;
  src: url(fonts/Clarendon-Light.woff);
}

/

p
{
  font-family: arial;
  color: #1b1b1b;
  font-size: 1.3rem;
}


html, body {
  margin: 0;
  padding: 0;
}

h1
{
  font-size: 9rem;
  color: #1b1b1b;
  font-family: clarendonBold, Arial;
}


body
{

  background-color: #333;

}
