@font-face {
  font-family: clarendonBold;
  src: url(fonts/Clarendon-Bold.woff);
}
@font-face {
  font-family: clarendonlight;
  src: url(fonts/Clarendon-Light.woff);
}

/* removes the extra margins and padding*/
html, body {
  margin: 0;
  padding: 0;
}

/*background color is this signature red, other values to experiment are
//#b1313b,b13b31,b13b13,#b31139 */

body
{

  background-color: #000;

}

h1
{
  font-size: 9rem;
  color: #fff;
  font-family: clarendonBold;
}

/*
h1 and h2 is your header, this is turned off for now
as your real header is the grid area items we'll see later (item1, item2..etc)

*/

#heading
{

  display: block;
  box-sizing:border-box;
  height: 93vh;
  line-height: .9;
  font-weight: bold;
  background-color: #b1331b;
  bord
}

#About
{
  height: 100vh;
  background-color: #000;

}

#Work
{

  height: 100vh;
  background-color: #b1331b;
}

#Contact
{
  height: 100vh;
  background-color: #000;

}




p
{
  font-family: arial;
  color: #ffffff;
  font-size: 1.3rem;
}

.blk
{
  color: black;
  font-size: 130%;
}



/* these (topnav) are the navigation bar styles */


.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: clarendonBold;
  position: sticky;

  top:0;
  min-height: 50px;
  bottom: 0;
  width: 100%;
  height: 7vh;
  font-size: 3vh;
}


.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: /*14px 16px*/ 1em 1rem;
  text-decoration: none;
  font-size: 1.3rem; /*used to be 17px*/
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav a.active {
  background-color: #000;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {

  margin-top: .3em;
  font-size: 1em;

}

.topnav .search-container button {
  float: right;
  font-size: .9em;
  padding: .5em .9em;
  /*padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  */
  background: rgb(0,0,0,0);

  border: none;
  cursor: pointer;
  color: white;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}




/*
item1-3, and tlgwindow are gride area elements
the grid-area property is their alias for the grid-container
grid-template areas (i.e., item1 maps to header under grid template)
*/

.item1
{

   color: #fff;
   font-family: arial;
   font-size: 10vh;
   margin:0;
   border:0;
   height: 10vh;

   /*line-height: 113px; */
}


.item3
{

   color: #fff;
   font-family: arial;
   justify-items: stretch;
   font-size: 5vh;
   height: 5vh;
   margin:0;
   border:0;
   /*line-height: 113px; */
}
/*tlgwindow ins special because while items 1-3 are my header items,
the tlgwindow is a container for my canvas object, where the 'game'
is gonna happen next to my header
*/



canvas
{
  color: black;
  height: 50vh;
}

/*.grid-container
{

  height:100vh;
  font-size: 500%;
  line-height: .9;

  font-weight: bold;
  display: grid;
  grid-template-areas:

  'kbbdi'
  'game'

  ;

} */
