/*
@AUTHOR
-------
Kenneth Basco | kenbas.co | © 2020 knaveHaven
*/



body
{
  font-size: 1.3em;
  font-family: Arial;
  line-height: 1.3;
  color: #131313;
  background-color: #fbfbfb;



}




nav ul li ul
{

  display: none;


}

nav ul li:hover > ul
{
  color: green;
  display: inherit;
  transition: 2s;

  list-style: none;


}


#btnControl {
    display: none;
}

#btnControl:checked + label > img {
    width: 70px;
    height: 74px;
}
